HechosHistoricos.dtd

<!ELEMENT HechosHistoricos (HechosHistorico)+>
<!ATTLIST HechosHistorico descripcion CDATA #REQUIRED>
<!ELEMENT HechosHistorico (Fecha,Epoca?, PersonajeDestacado*)?>
<!ELEMENT Epoca EMPTY>
<!ELEMENT PersonajeDestacado ANY>
<!ELEMENT Nombre (#PCDATA)>
<!ELEMENT FechaNacimiento (#PCDATA)>
<!ELEMENT Fecha (#PCDATA | FormatoFecha)*>
<!ELEMENT FormatoFecha (Dia,Mes,Año)>
<!ELEMENT Dia (#PCDATA)>
<!ELEMENT Año (#PCDATA)>
<!ELEMENT Mes (#PCDATA)>